<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Message</title>
  </head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      text-align: center; /* Center align the content */
    }

    h1 {
      margin-top: 20px;
    }

    .form {
      width: 50%;
      margin: 20px auto;
      padding: 10px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      text-align: left; /* Left align the form content */
    }

    .form h4,
    .form input,
    .form textarea {
      display: inline-block; /* Display h4, input, and textarea elements in a single line */
      vertical-align: top; /* Align elements to the top */
      margin: 5px 0; /* Add some margin between elements */
    }

    .form input,
    .form textarea {
      width: calc(
        100% - 80px
      ); /* Adjust the width of input and textarea to fit the remaining space */
      padding: 5px; /* Add padding to input and textarea */
    }

    button {
      display: block; /* Display button as block element */
      margin: 10px auto; /* Center align the button */
      padding: 5px 10px; /* Add padding to the button */
      background-color: #a5e612; /* Set button background color */
      color: #fff; /* Set button text color */
      border: none; /* Remove button border */
      border-radius: 3px; /* Add border radius to the button */
      cursor: pointer; /* Change cursor to pointer on hover */
    }

    button:hover {
      background-color: #e6dd12; /* Change background color on hover */
      color: black;
    }
  </style>
  <body>
    <h1>Create a new message:</h1>
    <form method="POST" action="/chats">
      <div class="form">
        <h4>Sender:</h4>
        <input type="text" name="from" placeholder="Enter sender name" />
      </div>
      <div class="form">
        <h4>Receiver:</h4>
        <input type="text" name="to" placeholder="Enter receiver name" />
      </div>
      <div class="form">
        <h4>Message:</h4>
        <textarea name="msg" cols="30" rows="5">Write your message!</textarea>
      </div>
      <button>Add Chat!</button>
    </form>
  </body>
</html>
