<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
  </head>
  <body>
    <form method="post" action="/posts">
      <input name="user" type="text" placeholder="Username" required />
      <br />
      <br />
      <textarea
        name="content"
        placeholder="Enter content"
        cols="40"
        rows="7"
      ></textarea>
      <br />
      <button>Submit</button>&nbsp; &nbsp; &nbsp; &nbsp;<button>
        Back<a href="http://localhost:8080/posts"></a>
      </button>
    </form>
  </body>
</html>
