<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Lets leran EJS</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium at
      possimus laborum natus eius. Quae, necessitatibus iste sed aspernatur
      assumenda dicta, saepe, inventore tenetur alias expedita optio repellat
      impedit illum?
    </p>
    <button>Click Me!</button>
  </body>
</html>
