.heading2{
    border: 2px solid red;
    color: white;
    background-color: violet;
    height: 250px;
    width: 250px;
}

/* .heading1{
    border: 2px solid black;
    color: black;
    background-color: aqua;
    height: 250px;
    width: 250px;
} */

